<div class="card m-auto" style="width: 18rem;" [class.bg-warning]="produect?.quantity==1">
  <img src="{{produect?.imgUrl}}" class="card-img-top">
  <div class="card-body">
    <h4 class="card-title">{{produect?.name}}</h4>
    <p class="card-text">Quantity: {{produect?.quantity}}</p>
    <p class="card-text">Price: {{produect?.price}}</p>
  </div>
  <div class="card-footer">
    <button class="btn btn-primary rounded-0 px-4" [disabled]="currentID==(produectsID[produectsID.length-1])" (click)="next()">Next</button>
    <button class="btn btn-info rounded-0 px-3 ms-5" [disabled]="currentID==produectsID[0]" (click)="Previeous()">Priveous</button>
  </div>
</div>

<button class="btn btn-info rounded-0 px-3 ms-5 bg-danger" (click)="goPrevieousPage()">GoBack</button>