#contanier {
  display: flex;
  flex-wrap: wrap;
  width: 100%
}

#contanier .card{
  width: 30%;
  margin: 1.33%;
  height: 200px;
  box-shadow: 5px 10px #eee;
  text-align: center;
  border-radius: 0;
}
#contanier .white{
  background-color: #777;
  
}
#contanier .gray{
  background-color: #333;
}
#contanier .card h3{
  margin-top: 100px;
}
